
{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>
{% for article in Article%}
	
   	<div>
   		<h1>Article</h1>
    	{{article.titre}}
    	<p>{{article.texte}}</p>
   	</div>
   	

    {% for comment in Comment %}
    	{% if comment.fkarticle == article %}
    		<h1 style="margin-left: 4%">commentaires</h1>
    		<p style="margin-left: 4%">{{comment.textec}}</p>
    		  
{{ form(form) }}
			{% for j in Comment %}
    			{% if j.fkcomment == comment %}
    				<p id="resp" style="margin-left: 8%">{{j.textec}}</p>
				{% endif %}
    		{% endfor %}
    	{% endif %}	
	{% endfor %}
{% endfor %}
</div>
{% endblock %}


